<textarea id="convertText" cols="50" rows="10"></textarea>
<button id="submitText">get</button>
<br/><span style="width:200px;height:200px;" id="outputText" ></span>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>
    var actionUrl = @Html.Raw(Json.Encode(Url.Action("Spin", "Home")));
    $("#submitText").click(function () {
        $.ajax({
            url: actionUrl,
            data: { "text": document.getElementById("convertText").value },
            type: "GET",
            success: function(data) {
                document.getElementById("outputText").innerText = data;
            }
        });
    })
</script>
